<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>B2BTutoring.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E2C70BE1BDDA834000F7F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CD78A01BFEC51F0057F61C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EC90331C0CCE1A006B8F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EC90411C0CCECF006B8F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
